* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #edeeec;
}

header {
    padding: 20px;
    font-family: 'Arial', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #000000;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .profile {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.present {
    height: 490px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/andy.himym.jpg");
    background-size: 100%;
    background-position: fill;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 65%;
    display: inline-block;
    margin-left: 20px;
}

.contacts {
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 30%;
    height: 100%;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
    background-color: #000000;
}

.contact {
    margin-bottom: 32px;
    color: #ffffff;
}


.contact h3 {
    margin-bottom: 10px;
    text-align: center;
}

.contact img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.portfolio-item-1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 450px;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
    background-color: #000000;
    color: #ffffff;
}

.portfolio-item-2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
    background-color: #000000;
    color: #ffffff;
}

.portfolio-item-3 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
    background-color: #000000;
    color: #ffffff;
}

.portfolio-item-1 img {
    max-height: 175px;
}

.portfolio-item-2 img {
    max-height: 200px;
}

.portfolio-item-3 img {
    max-height: 200px;
}

.portfolio-item-1 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.portfolio-item-2 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.portfolio-item-3 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 25px;
    clear: both;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
